.header {
  font-family: "Open Sans", sans-serif;
  height: 84px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.8);
  z-index: 1;
}
.nav {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.nav-left {
  display: flex;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu-item {
  padding: 8px 16px;
  font-size: 15px;
  color: black;
  display: block;
  margin-left: 10px;
}
.nav-menu-link {
  color: #707070;
  text-decoration: none;
  font-size: 15px;
  transition: 500ms;
}
.img-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.img1 {
  max-width: 38%;
}
.nav-menu-link:hover {
  color: #b6b6b6;
  text-decoration: none;
}
.nav-menu-item:hover {
  color: black;
}

.botontr {
  display: flex;
  justify-content: center;
  padding: 8px 14px;

  border: solid transparent;
  background-color: var(--amarillo);
  border-radius: 5px;
  transition: 200ms;
}
.botontr img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 2px;
}
.botontr label {
  font-size: 1rem;
  margin: 0;
  color: rgb(59, 53, 53);
  font-weight: 600;
}
.botontr:hover {
  transform: scale(1.1);
  font-size: 1rem;
}

.arrow1 {
  height: 11px;
  width: 11px;
  filter: invert(0.5);
  margin-left: 15px;
}
.arrow1:hover {
  filter: invert(0.7);
}
.dropdown-btn {
  color: #707070;
  cursor: pointer;
  display: flex;
}
.dropdown-btn:hover {
  color: #b6b6b6;
}
.dropdown-content {
  color: #707070;
  position: absolute;
  left: 32%;
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 26px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 7px;
  padding: 8px 8px;
}

.dropdown-item {
  display: flex;
  margin: 2px;
}
.dropdown-item:hover {
  background-color: #ffeeb3;
  border-radius: 5px;
}
.dropdown-item img {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 22px;
  margin-top: 4px;
}
.dropdown-item div {
  margin-left: 35px;
  padding: 6px 63px 6px 25px;
}
