@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #252a33;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
:root {
  --amarillo: #fecb18;
}
.m-10 {
  height: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.mt-1 {
  margin-top: 10px;
}
